<table>
    <thead>
      <tr>
        <th>Flight Number</th>
        <th>Airline</th>
        <th>Aiport</th>
        <th>Departs</th>
        <th>Arrives</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= flight.flightNo %></td>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.departs.toLocaleDateString() %></td>
        </tr>

       
         <form action="/flights/<%=flight._id%>" method="POST">
        <label>Add destination<label>
        <select name="airport">
        <option value="AUS">Austin</option>
        <option value="DAL">Dallas</option>
        <option value="LAX">L.A.</option>
        <option value="SEA">Seatle</option>
      </select>   
      <button>Click to add destination</button>
         </form>
      </tbody>
    </table>