<table>
    <thead>
      <tr>
        <th>Flight #</th>
        <th>AirPort</th>
        <th>AirLine</th>
        <th>Departs</th>
        <th>Arrives</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= flight.flightNo %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.airline %></td>
          <td><%= flight.departs.toLocaleDateString() %></td>
        </tr>

         <%flight.destinations.forEach(function(d){%>
            <tr>
            <td></td>
                <td><%= d.airport %></td>
                <td></td>
                <td></td>
                <% if(d.arrival){%>
                <td><%= `${d.arrival.toLocaleDateString()} :${d.arrival.toLocaleTimeString()}`%></td>
                <%}else{%>
                    
                    <td></td>
                    <%}%>      
            </tr>
            <%})%>
        </tbody>
       </table>
         <form action="/flights/<%=flight._id%>" method="POST">
        <label> Add destination<label>
        <select name="airport">
        <option value="AUS">Austin</option>
        <option value="DAL">Dallas</option>
        <option value="LAX">L.A.</option>
        <option value="SEA">Seatle</option>
      </select>   
      <input type="datetime-local" name="arrival">
      <button>Add Destination</button>
         </form>
         
         <table>
         <tbody>
          <p>Ticket Info</p>
         <td>Assigned Seat Number</td>
         <tr>
         <%tickets.forEach (function(t){%>
         
         <td><%=t.seat%></td>
         <td>Price</td>
         <td><%=t.price%></td>
         </tr>
         <%});%>
         </tbody>
        </table>

         <form action="/tickets<%=flight._id%>/new" method="GET">
        <button>Add Ticket</button>
        </form>
